body {
  background-color: bisque;
  display: flex;
  flex-direction: column;
  align-items: center;
}

#title {
  display: flex;
  justify-content: center;
  /* border: 5px solid red; */
  font-size: larger;
}

#rspbtns {
  display: flex;
  /* border: 5px solid red; */
  justify-content: center;
  align-items: center;
  margin-top: 25px;
  height: 125px;
  width: auto;
  gap: 16px;
}
#rspbtns button {
  height: 150;
  width: 200px;
  font-size: 25px;
}
button img {
  width: 35px;
  height: auto;
}

button {
  display: flex;
  align-items: center;
  justify-content: center;

  border-radius: 32px;
}

#contenedor {
  display: flex;
  border: 5px solid grey;
  margin-top: 25;
  height: 150px;
  width: 500px;
  margin-top: 8px;
}
#board {
  flex-grow: 1;
  border: 2px solid gray;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}
#score {
  flex-grow: 1;
  border: 2px solid grey;
  display: flex;
  flex-direction: column;
  align-items: center;
}
#contenedor h3 {
  display: flex;
  justify-content: center;
  align-items: center;
}

#points {
  display: flex;
  gap: 64px;
}
